[Unit]
Description=TD Stock Web Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/td_stock_web
ExecStart=/home/ubuntu/td_stock_web/venv/bin/python app.py
Environment=PATH=/home/ubuntu/td_stock_web/venv/bin
Restart=always

[Install]
WantedBy=multi-user.target